body{
	margin: 0;	
}

/*#servicios .col-lg-3.col-md-3.col-sm-6.col-xs-12 {
            padding-top: 10px;	
        }*/

/*slider*/
#slider{
	padding: 0;
}

#slider .img-responsive {
	width: 100%;
}
/*slider*/

/*contenido*/
/*clase para linea en servicios*/

/*contenido*/

/*clase para el tamano de texto de los parrafos y fuente*/
.tamanio_texto {
		font-size: 17px;
		font-family: 'Abel', sans-serif;		
}
/*clase para el tamano de texto de los parrafos*/

/*clase para fuente titulos y subtitulos*/
.fuente_tit_sub{
	font-family: 'Song Myung', serif;
        list-style: none;
        text-decoration: none;
}
/*clase para fuente titulos y subtitulos*/

.row .col-lg-4.col-md-4.col-sm-12.col-xs-12 .img-responsive {
	width: 50%;
}		

/*ventas*/
#precio_pack .container.text-center h1 {
	color:rgba(255,255,255,1.00);
	padding-top: 20px;
	padding-bottom: 30px;
}



/*clase para hover de folio -- ambas se aplican con jquery*/
.color_ventas {
  color:blue; 
}

.brillo {
    filter: brightness(80%);
}
/*clase para hover de folio*/

#precio_pack {
	padding: 0px;
	background-color: rgba(0,35,119,0.85);
}

.thumbnail .caption p {
	padding-top: 10px;
	padding-bottom: 10px;
}
/*ventas*/

/*conceptos*/
#conceptos p{
  display:none;
}

#enlaces img{
    transition:all 1s;
}

.container.text-center .row .col-lg-6.col-md-6.col-sm-12.col-12 {
	padding-top: 25px;
	padding-bottom: 20px;
}
.col-lg-6.col-md-6.col-sm-12.col-12 .row .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
	padding-top: 5px;
}
.rotate:hover
  {
     -webkit-transform: rotateY(-180deg);
     -ms-transform: rotateY(-180deg);
     transform: rotateY(-180deg);
  }
/*enlaces*/


/*pie de pagina*/
#pie {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color:rgba(35,35,35,1.00);
	color: #ffffff;
}

.row .col-lg-4.col-md-4.col-sm-6.col-xs-12 ul {
	padding-left: 0px;
}

.col-lg-4.col-md-4.col-sm-6.col-xs-12 ul li {
	text-decoration: none;
	list-style: none;
	padding-bottom: 5px;
    font-size: 14px;
}

.row .col-lg-4.col-md-4.col-sm-6.col-xs-12 h4 {
	padding-bottom: 12px;	
}

.row .col-lg-4.col-md-4.col-sm-12.col-xs-12 h4 {
	padding-bottom: 12px;
}

.col-lg-4.col-md-4.col-sm-12.col-xs-12 .row .col-lg-12.col-md-12.col-sm-12.col-xs-2 {
	padding-bottom: 5px;
}

.row .col-lg-12.col-md-12.col-sm-12.col-xs-2 img {
  -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.row .col-lg-12.col-md-12.col-sm-12.col-xs-2 img:hover {
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.color_text_pie{
    color: #CDCDCD;
}
/*pie de pagina*/


/*media query responsive*/

@media (min-width: 1200px) {	
	
	.linea {		
	border-left: 1px solid #7CB342;
	height: 82px;	
	}
	
	#contenido {
	position: relative;
	padding-bottom: 170px;
	}
	
	#resenia {	
	position: absolute;
	z-index: 2; /* put .green-box above .dashed-box */ 
	top: -180px;  
	opacity: 0.9;
	}
	
	#resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 h1 {
	color: #002377;
    padding-bottom: 30px;
    display:none;
	}

    #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 p {
    color:#000000;
    padding-bottom: 30px;
    display:none;
	}       
        
	#servicios p {
	display:none;
	}
       
	#contenido #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 {
	background-color:#86E773;
	padding-top: 35px;
	padding-bottom: 50px;
	padding-left: 70px;
	padding-right: 70px;
	}	
	
	#contenido .row.tamanio_texto {
	padding-top: 300px;
	}
	
	#ventas {
	background-color: #E9E9E9;
	padding-top: 46px;
	padding-bottom: 30px;
}
	#ventas .container .row.text-center .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
	transition: 0.5s; /*para el hover con jquery*/
	}
	
	/*conceptos*/
	#conceptos {
	padding-top: 100px;
	padding-bottom: 90px;
	}

	.line_vetical {	
	margin-top: 26px;
	border-left: 1px solid #7CB342;
	min-height: 220px;
	}
	/*conceptos*/
		
	/*equipo*/
	#equipo {
        background-color: rgba(58,229,179,1.00);
	padding-top: 40px;
	padding-bottom: 70px;
	}

	#equipo .text-center {
	padding-bottom: 50px;
	}
	/*equipo*/
	
	/*enlaces*/
	#enlaces {
	background-color: #E9E9E9;
	padding-top: 40px;	
	}

	#enlaces .text-center {
	padding-bottom: 50px; 
	}
	/*enlaces*/
	
}


@media (min-width: 992px) and (max-width: 1199px){
    
        .linea {		
	border-left: 1px solid #7CB342;
	height: 82px;	
	}
    	
	#contenido {
	position: relative;
	padding-bottom: 110px;
	}
	
	#resenia {	
	position: absolute;
	z-index: 2; /* put .green-box above .dashed-box */ 
	top: -180px;  
	opacity: 0.9;
	}   
	
	#resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 h1 {
    color: #002377;
    padding-bottom: 30px;
    display:none;
	}

    #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 p {
    color:#000000;
    padding-bottom: 30px;
    display:none;
	}
        
	#servicios p {
	display:none;
	}
        
	#contenido #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 {
	background-color:#86E773;
	padding-top: 35px;
	padding-bottom: 50px;
	padding-left: 70px;
	padding-right: 70px;
	}	
	
	#contenido .row.tamanio_texto {
	padding-top: 300px;
	}
	
	#ventas {
	background-color: #E9E9E9;
	padding-top: 46px;
	padding-bottom: 30px;
}
	#ventas .container .row.text-center .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
	transition: 0.5s; /*para el hover con jquery*/
	}
	
	/*conceptos*/
	#conceptos {
	padding-top: 100px;
	padding-bottom: 90px;
	}

	.line_vetical {	
	margin-top: 26px;
	border-left: 1px solid #7CB342;
	min-height: 220px;
	}
	/*conceptos*/
		
	/*equipo*/
	#equipo {
    background-color: rgba(58,229,179,1.00);
	padding-top: 40px;
	padding-bottom: 70px;
	}

	#equipo .text-center {
	padding-bottom: 50px;
	}
	/*equipo*/
	
	/*enlaces*/
	#enlaces {
	background-color: #E9E9E9;
	padding-top: 40px;	
	}

	#enlaces .text-center {
	padding-bottom: 50px; 
	}
	/*enlaces*/
}

@media (min-width: 768px) and (max-width: 991px){
    /*.navbar-header .navbar-brand .img-responsive {
	margin-top: 25px;
	}*/
	
	#contenido {
	position: relative;
	padding-bottom: 50px;
	}
	
	#resenia {	
	position: absolute;
	z-index: 2; /* put .green-box above .dashed-box */ 
	top: -180px;  
	opacity: 0.9;
	}      
	
    #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 h1 {
        color: #002377;
        padding-bottom: 30px;
        display:none;
	}

        #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 p {
        color:#000000;
        padding-bottom: 30px;
        display:none;
	}
     	
        /*servicios*/
	#servicios {
		padding-top: 44px;		
	}		
	
	#servicios .col-lg-3.col-md-3.col-sm-6.col-xs-12 {
		padding-bottom: 40px;
                padding-top: 50px;
	}
	#servicios p {
	display:none;
	}	
	/*servicios*/	
        
	#contenido #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 {
	background-color:#86E773;
	padding-top: 35px;
	padding-bottom: 50px;
	padding-left: 70px;
	padding-right: 70px;
	}
	
	#contenido .row.tamanio_texto {
	padding-top: 300px;
	}
	
	#ventas {
	background-color: #E9E9E9;
	padding-top: 46px;
	padding-bottom: 30px;
	}
	
	#ventas .container .row.text-center .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
	transition: 0.5s; /*para el hover con jquery*/
	}
	
	/*conceptos*/
	#conceptos {
	padding-top: 20px;
	padding-bottom: 30px;
	}
	
	#conceptos h3 {
		text-align: center;
	}

	.line_vetical {	
	margin-top: 26px;
	border-left: 1px solid #7CB342;
	min-height: 220px;
	display: none;
	}
	/*conceptos*/
		
	/*equipo*/
	#equipo {
    background-color: rgba(58,229,179,1.00);
	padding-top: 20px;
	padding-bottom: 50px;
	}

	#equipo .text-center {
	padding-bottom: 26px;
	}
	/*equipo*/
	
	/*enlaces*/
	#enlaces {
	background-color: #E9E9E9;
	padding-top: 16px;	
	}

	#enlaces .text-center {
	padding-bottom: 40px; 
	}
	/*enlaces*/
	
}

@media (max-width: 767px){
		
	#contenido {        
	padding-bottom: 0px;	
	}
	
	/*resenia*/
	#resenia {	
	padding-top: 0px;
	opacity: 0.9;
	}   
	
	#resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 h1 {
	text-align: center;
	color: #002377;
    padding-bottom: 16px;
    display:none;
	}

    #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 p {
    color:#000000;
    padding-bottom: 30px;		
    display:none;
	}
        
    #resenia .col-lg-8.col-md-8.col-sm-8.col-xs-12 {
	background-color:#86E773;
	padding-top: 12px;
	padding-bottom: 0px;		
	}	
	/*resenia*/
	
	/*servicios*/
	#servicios {
		padding-top: 44px;		
	}		
	
	#servicios .col-lg-3.col-md-3.col-sm-6.col-xs-12 {
		padding-bottom: 44px;
	}
	#servicios p {
	display:none;
	}	
	/*servicios*/
	
	/*ventas*/
	#ventas {
	background-color: #E9E9E9;
	padding-top: 46px;
	padding-bottom: 30px;
	}
	
	#ventas .container .row.text-center .col-lg-4.col-md-4.col-sm-4.col-xs-12 {
	transition: 0.5s; /*para el hover con jquery*/
	}
	/*ventas*/
	
	/*conceptos*/
	#conceptos {
	padding-top: 16px;
	padding-bottom: 30px;
	}
	
	#conceptos h3{
		text-align: center;
	}

	.line_vetical {	
	margin-top: 26px;
	border-left: 1px solid #7CB342;
	min-height: 220px;
	display: none;
	}
	/*conceptos*/
		
	/*equipo*/
	#equipo {
    background-color: rgba(58,229,179,1.00);
	padding-top: 20px;
	padding-bottom: 50px;
	}

	#equipo .text-center {
	padding-bottom: 26px;
	}
	/*equipo*/
	
	/*enlaces*/
	#enlaces {
	background-color: #E9E9E9;
	padding-top: 16px;	
	}

	#enlaces .text-center {
	padding-bottom: 40px; 
	}
	/*enlaces*/
}
