/*titulo*/
#tit_comp {
	background-color: #33D8C7;
    color: #ffffff;
	padding-top: 18px;
	padding-bottom: 22px;
}
/*titulo*/


/*#complemento2 {    
    padding-top: 60px;
    padding-bottom: 60px;
}

div .panel-heading h3 {
	font-family: 'Song Myung', serif;
}*/

/*div .col-lg-4.col-md-4.col-sm-6.col-xs-12 {   
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    transition:box-shadow 2s, transform 500ms, filter 500ms ease-in-out; */
    /*transition: 0.6s;*/
/*}
div .col-lg-4.col-md-4.col-sm-6.col-xs-12:hover {    
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0,0,0,1);  
    filter: blur(0px);
}

div .col-lg-4.col-md-4.col-sm-6.col-xs-12.blur p {    
filter: blur(1px);
transform: scale(0.95);    
opacity: 0.7;
}

.col-lg-4.col-md-4.col-sm-6.col-xs-12 div .panel-heading {
	padding-top: 2px;
	padding-bottom: 0px;
}

.lin_comp {
	border-bottom: 1px solid rgba(134,231,115,1.00);
	width: 92%;	
	margin: 0 auto;
		
}*/

/*.col-lg-4.col-md-4.col-sm-6.col-xs-12 div .panel-body.text-justify:hover {
	background-color: rgba(134,231,115,0.80);
}*/

/*div .panel-body.text-justify p {
	font-family: 'Abel', sans-serif;	
}*/
/*contenido de complementos*/

#complementos {
    padding-top: 36px;
    padding-bottom: 36px;
}


#complemento2 .row .col-lg-4.col-md-4.col-sm-6.col-xs-12 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#marco {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid #F0F0F0;    
    transition: 0.6s;
}

#marco img {
    width: 48px;
    padding-top: 10px;
    padding-bottom: 20px;      
}

#marco h4 {
    padding-bottom: 0px; 
    color: #4E4F4E;
}

#marco p{
    color: #8F8F8F;
}

.subraya_compl {
text-align: center;
border:0px solid rgba(255,255,255,1.00);
/*margin-top: 0px;
margin-bottom: 10px;*/
background-color: #1FAD64;
height: 2px;
width: 25%;
}

/*#marco:hover{    
    border: 1px solid #1FAD64;*/
    /*background-color:#F5F5F5;*/
    /*color: white;
    width: 100%;
}*/
    
.subraya_compl_2{
text-align: center;
border:0px solid rgba(255,255,255,1.00);
/*margin-top: 0px;
margin-bottom: 10px;*/
background-color: #1FAD64;
height: 2px;
width: 25%;
}

/*.fondo {
    background-color: red;
}*/







